.hero {
  @extend %layout-margin;
  // @extend %align-center;

  height: 100vh;
  overflow: hidden;
  width: 100vw;
  padding-bottom: 4rem;

  @include media("<=tablet") {
    height: auto;
    overflow: auto;

    padding: 20rem 2rem 14rem;
  }
}

.hero_wrapper {
  @extend %max-width;
  @extend %column-direction;

  justify-content: flex-end;
  height: 100%;
  position: relative;
  width: 100%;
}

.hero_grid {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: -1rem;

  @include media("<=tablet") {
    flex-direction: column;
    gap: 0;
    margin-bottom: 0;
  }
}

.hero_line {
  display: flex;
  justify-content: space-between;

  @include media("<=tablet") {
    flex-direction: column;
  }

  &:first-child {
    @include media("<=tablet") {
      align-items: flex-start;
    }

    .hero_headline:first-child .heading {
      font-weight: 100;
    }

    .hero_figure:first-of-type {
      width: 26rem;
    }

    .hero_figure:last-child {
      width: 14rem;

      @include media("<=tablet") {
        display: none;
      }
    }
  }

  &:nth-child(2) {
    .hero_headline {
      strong {
        color: $color-pink;
        font-weight: 400;
      }
    }

    .hero_figure {
      width: 24.6rem;
    }
  }

  &:last-child {
    justify-content: flex-start;
    gap: 5.6rem;

    @include media("<=tablet") {
      justify-content: flex-start;
    }
  }

  .hero_description {
    max-width: 50rem;

    @include media("<=tablet") {
      margin-bottom: 2.2rem;
      max-width: none;
    }

    @include media("<phone") {
      max-width: none;
      width: 100%;
    }
  }
}

.hero_button {
  animation: background-color-switcher step-start infinite 1s;
  align-self: end;
  background-color: $color-white;
  border-radius: 0.4rem;
  color: $color-black;
  display: block;
  font-family: $font-heading;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1;
  height: fit-content;
  margin-bottom: 2rem;
  padding: 1.2rem 2rem;
  text-transform: uppercase;
  white-space: nowrap;
  width: fit-content;

  @include media("<=tablet") {
    align-self: flex-start;
    margin: 2rem 0;
  }

  @include double-line-animation(
    25deg,
    -180%,
    180%,
    100%,
    $font-heading,
    500,
    0
  );
}

.hero_headline {
  line-height: 0.9 !important;
  white-space: nowrap;

  @include media("<=tablet") {
    white-space: normal;
  }
}

.hero_figure {
  height: 15.4rem;
  margin-top: 1.5rem;
  position: relative;

  @include media("<=tablet") {
    margin-bottom: 2rem;
  }

  @include media("<phone") {
    width: 100%;
  }
}

.hero_image {
  @extend %image-cover;

  border-radius: 0.2rem;
}

.hero_description {
  margin-top: 1rem;
  width: 100%;

  @include media("<phone") {
    width: 100%;
  }

  strong {
    color: $color-pink;
    display: inline-flex;
  }
}
