@font-face {
  font-family: $font-heading;
  src: url("../../public/fonts/MangoGrotesqueMedium.woff2") format("woff2"),
    url("../../public/fonts/MangoGrotesqueMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: $font-body;
  src: url("../../public/fonts/NeueHaasDisplayRoman.woff2") format("woff2"),
    url("../../public/fonts/NeueHaasDisplayRoman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
