%image-cover {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

%position-fixed {
  left: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
}

%layout-margin {
  padding: 0 8rem;
}

%max-width {
  margin: auto;
  max-width: 192rem;
}

/* Flexbox mixins */

%column-direction {
  display: flex;
  flex-direction: column;
}

%column-direction-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

%column-direction-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

%space-between {
  display: flex;
  justify-content: space-between;
}

%center-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

%align-center {
  align-items: center;
  display: flex;
}

%justify-center {
  display: flex;
  justify-content: center;
}

%flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin double-line-animation(
  $rotation-amount,
  $hover-translateY-amount,
  $translateY-amount,
  $font-size-percentage,
  $font-family,
  $font-weight,
  $final-state-yPosition
) {
  cursor: pointer;
  line-height: normal;
  overflow: hidden;

  .span-wrapper {
    position: relative;
    overflow: hidden;
  }

  .first-span {
    display: block;
    transition: all 0.55s $transition;
  }

  .second-span {
    display: block;
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size-percentage;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    transform: translateY($translateY-amount) rotate($rotation-amount);
    transition: all 0.55s $transition;
  }

  &:hover .first-span {
    transform: translateY($hover-translateY-amount) rotate($rotation-amount);
  }

  &:hover .second-span {
    transform: translateY($final-state-yPosition) rotate(0);
  }
}
